
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
ipch/
*.VC.db

bin/
obj/
Debug/
Release/
*.pdb
*.ilk
*.ipch
*.iobj
*.iopb
*.obj
*.log

packages/
*.nupkg
project.lock.json
project.assets.json
global.json
.nuget/

app.config
appsettings.json
appsettings.*.json
secrets.json
*.pubxml
*.publishproj

.idea/
*.dotCover
*.sln.iml

_ReSharper*/
*.DotSettings.user
resharper.xml

.DS_Store
